.side-nav {
  height: 100vh;
  width: 100%;
  background: var(--main-nav-tabs-color);
  border-right: 2px solid #3b3b3b;
  display: flex;
  flex-direction: column;
  color: var(--text-color);

  .side-nav-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    border-bottom: 1px solid #3b3b3b;

    .side-nav-menu-icon {
    }

    .side-nav-search {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;

      .search-input {
        width: 96%;
        margin-right: 8px;
        margin-left: 8px;
        margin-top: 1px;
        padding: 10px 12px;
        border-radius: 20px;
        border: 1px var(--border-color);
        background-color: var(--action-icons-color);
        color: var(--text-color);
        transition: left 0.0s ease-out;
      }

      .search-shrink {
        width: 70%;
      }

      .search-params {
        transition: all 0.9s ease-in;
        display: none;
        font-size: 13px;
      }

      .search-params-show {
        display: block;
      }
    }
  }

  .side-nav-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 8px;

    .chat {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-left: 12px;
      margin-right: 12px;
      border-radius: 10px;
      padding: 10px 12px 6px 12px;
      margin-bottom: 4px;
      cursor: pointer;

      .chat-image-container {
        width: 3.2rem;
        flex: 1;

        .chat-image {
          height: 3.2rem;
          width: 3.2rem;
          background-color: #ececec;
          border-radius: 50%;
          display: inline-block;
        }
      }

      .chat-details {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 4px;
        padding-right: 4px;

        .chat-name {
          font-size: 15px;
          font-weight: bold;
          padding-left: 2px;
        }

        .chat-last-message {
          font-size: 12px;
          margin-top: 4px;
          font-weight: 500;
        }
      }

      .chat-last-message-details {
        width: 4%;
        font-size: 11px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        .chat-last-message-time {
          margin-bottom: 6px;
        }
      }
    }

    .chat:hover {
      background-color: var(--main-nav-tabs-hover-color);
    }

    .chat-selected {
      background-color: #333333;
    }
  }

  .side-nav-footer {
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 16px;

    .create-chat-btn-side-box {
      padding: 40px 12px;
      margin-bottom: 42px;

      margin-left: auto;
      color: var(--text-color);

      .create-chat-side-btn {
        background-color: var(--main-buttons-color);
      }

      .create-chat-side-btn:hover {
        background-color: var(--main-buttons-hover-color);
      }
    }
  }
}

.mat-mdc-menu-content {
  margin-bottom: 10px !important;
  border-radius: 4px;
  font-size: 11px;
  color: var(--text-color);
  background-color: var(--modal-color);
}

.mat-mdc-menu-item:hover {
  background-color: var(--modal-item-hover-color);
}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--main-buttons-hover-color) !important;
}

.search-result-body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .search-result-block {
    overflow-y: scroll;
    margin-top: 4px;
    margin-bottom: 4px;
    min-height: 102px;
    border-bottom: 1px solid #3b3b3b;
  }

  .search-result-header {
    text-align: center;
    color: #707070;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
