<div class="side-nav">

  <div class="side-nav-header">
    <div class="side-nav-menu-icon" matRipple>
      <button mat-icon-button [mat-menu-trigger-for]="mainMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mainMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
    <div class="side-nav-search">
      <input class="search-input" placeholder="Search">
    </div>
  </div>

  <div class="side-nav-body" *ngFor="let chat of userChats">
    <div class="chat"
         (click)="openNewChat(chat)"
         [ngClass]="{'chat-selected' : lastInteractionChatId === chat.id}">
      <div class="chat-image-container">
        <div class="chat-image">
        </div>
      </div>
      <div class="chat-details">
        <div class="chat-name">
          {{chat.name}}
        </div>
        <div class="chat-last-message">
          {{chat.lastMessage?.content}}
        </div>
      </div>
      <div class="chat-last-message-details">
        <div class="chat-last-message-time">10:11</div>
        <div class="chat-last-message-status">-</div>
      </div>
    </div>
  </div>

  <div class="side-nav-footer">
    <div class="create-chat-btn-side-box">
      <button mat-fab class="btn btn-primary create-chat-side-btn" [matMenuTriggerFor]="newChatMenu">
        <mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit">
        </mat-icon>
      </button>
      <mat-menu #newChatMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="openCreateNewChatModal()">
          <mat-icon>chat</mat-icon>
          <span>Create new chat</span>
        </button>
        <button mat-menu-item (click)="openCreateNewGroupModal()">
          <mat-icon>group</mat-icon>
          <span>Create new group</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>


