
.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/chat-background-1.jpg");
  background-size: contain;

  .chat-header {
    width: 100%;
    height: 50px;
    font-size: 12px;
    background-color: var(--main-nav-tabs-color);
    color: var(--text-color);
    border-bottom: 2px solid #3b3b3b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-top: 4px;
    padding-bottom: 4px;

    .chat-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      .message-from-icon-big {
        height: 2.2rem;
        width: 2.2rem;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }

      .chat-name-container {
        font-size: 14px;
        padding-left: 10px;

        .last-online-status {
          font-size: 10px;
        }
      }
    }

    .chat-header-actions {
      padding-right: 50px;

      .chat-header-actions-icon {
        padding-top: 2px;
      }
    }
  }

  .chat-body {
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 60px 10px 40px;
    overflow-y: auto;
    transform: translateZ(0);

    .chat-body-container {
      max-width: 100%;

      .single-message-container {
        display: flex;
        max-width: 70%;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        text-align: left;
        margin-top: 0.6rem;
        background-color: var(--chat-message-color);
        border-radius: 10px;
        padding: 6px 10px;

        .message-from {
          margin-right: 10px;

          .message-from-icon {
            height: 2.1rem;
            width: 2.1rem;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
          }

          .message-from-name {
            font-size: 14px;
          }
        }

        .message {
          width: 98%;
          font-size: 14px;
          color: var(--message-text-color);
        }

        .message-details {
          width: 2%;
          display: flex;
          flex-direction: column;
          align-self: flex-end;
          justify-content: end;
          align-items: end;

          .message-time {
            margin-top: auto;
            align-self: flex-end;
            padding-left: 10px;
            font-size: 8px;
            color: var(--text-color);
          }
        }
      }
    }
  }

  .chat-footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 60px 50px;

    .message-input {
      width: 30rem;
      text-align: start;
      vertical-align: middle;
      padding: 12px 20px;
      margin-right: 10px;
      border-radius: 9px;
      box-sizing: content-box;
      position: relative;
      border: solid 1px var(--border-color);
      background-color: var(--input-fields-color);
      color: var(--text-color);
    }

    .send-message-btn {

      height: 2.5rem;
      width: 2.5rem;
      background-color: var(--main-buttons-color);
      border-radius: 50%;
      border-color: transparent;
      display: flex;
      align-items: center;

      .mat-icon {
        color: var(--text-color);
        vertical-align: middle;
        padding-top: 0.10rem;
        padding-left: 3px;
        font-size: 20px;
      }
    }
  }
}

.right-message-position {
  margin-left: auto;
  background-color: var(--chat-message-own-color)!important;
  max-width: 70%
}

