@use '@angular/material' as mat;

@include mat.core();

@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf) format("truetype");
}

:root {
  --main-nav-tabs-color: #212121;
  --main-nav-tabs-hover-color: #424242;
  --border-color: #3b3b3b;
  --text-color: #F6F8F9;
  --message-text-color: #f3f3f3;
  --input-fields-color: #212121;
  --action-icons-color: #2B2B2B;
  --modal-color: #3d3d3d;
  --modal-item-hover-color: #2f2f2f;
  --main-buttons-color: #5b4c9f;
  --main-buttons-hover-color: #4a3a96;
  --chat-message-own-color: #5b4c9f;
  --chat-message-own-hover-color: #513dab;
  --chat-message-color: #2650b2;
  --chat-message-hover-color: #1a45a8;

  background-color: #2c2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

::-webkit-scrollbar {
  width: 0.35rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6e6e6e;
  border-radius: 20px;
}
